/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.cart.hover {
  transition: 0.3s ease;
}
.cart.hover:hover {
  color: teal;
  transition: 0.3s;
}
.dfl {
  display: flex;
}
.alic {
  align-items: center;
}
.r-link {
  text-decoration: none;
  color: #fbfbfb;
}
.r-link:hover {
  color: teal;
}
.hover-pointer {
  cursor: pointer;
}
